<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ELPopup5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <ELPopup5.Properties.Settings>
            <setting name="SS_COM_PORT" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="POPUP_INBOUND" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="POPUP_OUTBOUND" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USE_COMPUTER_TIME" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MAX_LINE_NUMBER" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MAIN_WINDOW_WIDTH" serializeAs="String">
                <value>777</value>
            </setting>
            <setting name="MAIN_WINDOW_HEIGHT" serializeAs="String">
                <value>511</value>
            </setting>
            <setting name="MAIN_WINDOW_X" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MAIN_WINDOW_Y" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="USE_CUSTOM_MAIN_WINDOW_SIZING" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USE_CUSTOM_POSITION" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="POPUP_TIME" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RELAY_IP" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="LOGGING_FILE" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="LOGGING" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="START_MINIMIZED" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAY_RECORD_COUNT" serializeAs="String">
                <value>500</value>
            </setting>
        </ELPopup5.Properties.Settings>
    </userSettings>
</configuration>
